<div class='index_outer'>
	<div class='content'>
		<div class='top_nav'>
			<div class='title'>
				<br>
				<a href='/'>TEKTIVE
				DESIGN</a>
			</div>
			<ul class='links'>
				<li><%= link_to "Residential", welcome_residential_path %>
				<li><%= link_to "Passive House", welcome_passive_house_path %>
				<li><%= link_to "Studio", welcome_studio_path %>
				<li><%= link_to "Workshop", welcome_workshop_path %>		
				<li><%= link_to "About", welcome_about_path %>
										
			</ul>
		</div>	
		
		<div class='lampshade'>
			<img src='assets/workshop/lampshade_lg.jpg'>
		</div>
		
		<div class='footer'>
		</div>
	</div>
</div>